* {
  margin: 0;
  padding: 0
}

.navbar-nav {
  font-size: 18px;
}

#rollerskate-logo {
  max-width: 3em;
  height: auto;
  margin: 0 1em;
}

.card {
  width: 18rem;
  transform: all 0.5s ease;
}

.card img {
  height: 100px;
  width: 100px;
  margin: auto;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px black;
}